{% extends "todo/base.html" %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<div class="row justify-content-center mt-5">
    <div class="col-md-7 text-center">

        <h1>Turn your To do's</h1>
        <h1>into To Done's!</h1>
        <p>With our online to-do app, you'll experience effortless task management for your busy lives.
            We created <b><i>ToDone</i></b> to help you make sense of all of your opportunities 
            and live that life that matters most to you. 
        </p>
    <a role="button" class="btn btn-primary btn-lg" href="{% url 'signup_user' %}">Start</a>
    </div>
</div>

{% endblock %}